.container__first__card {
  width: 373px;
  height: 450px;
  margin-top: 50px;
}
.container__card__content span {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container__card__content h5 {
  font-size: 18px;
  line-height: 1.44444;
}
.container__card__content h5 a {
  color: #151515;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
.container__link:hover {
  color: #737576;
  cursor: pointer;
  transition: 0.4s;
}
.container__card__content p {
  margin-top: 15px;
}

.container__second__card {
  width: 373px;
  height: 450px;
  margin-left: 10px;
  margin-top: 50px;
}
.container__third__card {
  width: 373px;
  height: 450px;
  margin-left: 10px;
  margin-top: 50px;
}
.container__cards {
  display: flex;
  margin-top: 20px;
  gap: 70px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}
.container__title {
  color: #151515;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 500;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container__card__img img:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 50%;
  transition: 1s ease;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container__title {
    font-size: 36px;
    line-height: 1.11111;
  }
  .container__first__card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container__second__card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container__third__card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .blog__posts {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .container__cards {
    margin-top: 60px;
  }
  .blog__posts {
    padding: 115px 0;
    display: flex;
  }
}
