* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container__first__card {
  width: 373px;
  height: 450px;
  margin-top: 50px;
}
.container__card__content span {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.container__card__content h5 {
  font-size: 18px;
  line-height: 1.44444;
}
.container__card__content h5 a {
  color: #151515;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
.container__card__content p {
  margin-top: 15px;
}

.container__second__card {
  width: 373px;
  height: 450px;
  margin-left: 10px;
  margin-top: 50px;
}
.container__third__card {
  width: 373px;
  height: 450px;
  margin-left: 10px;
  margin-top: 50px;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  gap:15px;
}
.container__title {
  color: #151515;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 500;
}
.container {
  margin-left: 80px;
  margin-right: 80px;
}
@media only screen and (min-width: 1270px) {
 .blog__posts{
 
  
 }
}
