.region_slider {
  margin: 97px 0;
}
.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
}
.title {
  padding: 0 0 33px;
  text-align: center;
  white-space: nowrap;
  color: #ff595a;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
.title span {
  color: #3c1053;
  font-family: 'Publico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
  font-style: italic;
  font-weight: 300;
}
.region {
  width: 300px;
  position: relative;
  padding: 0.5px;
  height: 100%;
  vertical-align: top;
  transition: transform 0.3s;
  z-index: 5;
}
.region_media {
  position: relative;
  z-index: 1;
}
.region_media::before {
  background: rgba(0, 174, 199, 0.9);
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  width: 100%;
  z-index: 10;
}
.region_media img {
  max-width: none;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.region_media_text {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  filter: blur(35px);
  background: rgba(0, 0, 0, 0.67);
}
.region_media p {
  display: block;
  position: absolute;
  left: 17px;
  bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.29;
  max-width: 200px;
  color: #fff;
  z-index: 2;
}
.region_hover {
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 0 15px 22px;
  position: absolute;
  top: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: scale(0.94);
  width: 100%;
  z-index: 50;
}
.region_up {
  height: 50px;
}
.region_down h3 {
  border-width: 0 0 1px;
  transition: border-color 0.3s;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 10px 16px 0;
  color: #ffc72c;
}
.region_down p {
  font-size: 15px;
  font-weight: 500;
}
.region_down p span {
  color: #ffc72c;
  font-size: 15px;
  font-weight: 500;
}
.region_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  font: 300 italic 17px/1.24 'Publico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
  margin: 24px 0 -2px;
}
.region_footer_left {
  border-top: 1px solid #fff;
  padding: 20px 0 0;
}
.region_heart_logo {
  position: absolute;
  right: 5px;
  top: 7px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 42px;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  width: 42px;
}
.region_heart_logo svg {
  fill: #fff;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Hover */
.region:hover {
  transform: scale(1.06);
}
.region:hover .region_media > p {
  display: none;
}
.region:hover .region_media::before {
  opacity: 1;
}
.region:hover .region_hover {
  opacity: 1;
}
.region_heart_logo:hover {
  background: #a6c042;
}

/* WishlistedActive */
.added {
  background: #a6c042;
}
.added::after {
  content: '';
  height: 20px;
  position: absolute;
  right: 0;
  top: 10px;
  width: 24px;
  background: url('../../../svgs/icon-check-custom.svg') no-repeat !important;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .title {
    white-space: inherit;
    padding: 0 0 27px;
    text-align: left;
  }
  .title span {
    margin: -3px 0 0;
  }
}
