.region_slider {
  margin: 97px 0;
}
.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
}
.title {
  padding: 0 0 33px;
  text-align: center;
  white-space: nowrap;
  color: #ff595a;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}
.title span {
  color: #3c1053;
  font-family: 'Publico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
  font-style: italic;
  font-weight: 300;
}
.region_slider__content {
  position: relative;
}


/* Responsive */
@media screen and (max-width: 1024px) {
  .title {
    white-space: inherit;
    padding: 0 0 27px;
    text-align: left;
  }
  .title span {
    margin: -3px 0 0;
  }
}

.slider_left {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(-10px, -50%);
  width: 25px;
  cursor: pointer;
}
.slider_left:hover,
.slider_right:hover svg {
  fill: #ff595a;
}
.slider_right {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  width: 25px;
  cursor: pointer;
}
