.section {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.32;
  margin: 0;
  padding: 20px 0;
  position: relative;
  display: block;
}
.section__bg {
  background-position-y: 50%;
  background-image: url(../../../images/about_us/about_bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-height: 722px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 5;
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 30px;
  &__content {
    width: 75%;
  }
  h1 {
    margin: 0;
    width: 100%;
    color: #ff595a;
    font-size: 64px;
    font-family: 'Gilroy', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    span {
      display: block;
      font-family: 'Publico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
      font-style: italic;
      font-weight: 300;
      color: #fff;
      margin: -5px 0 0;
      line-height: 1.3;
      white-space: nowrap;
    }
  }
  p {
    margin: 46px 0 0;
    max-width: 700px;
  }
  p {
    font-family: 'Gilroy Light', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  }
}
.section__content {
  margin: 97px 0;
  display: block;
  &__container {
    margin: 0 auto;
    max-width: 1260px;
    padding: 0 30px;
    &__context {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      margin: 0 -15px 33px;
      &__holder {
        width: 100%;
        padding: 0 20px;
      }
    }
  }
  p {
    margin: 0 0 0.8333em;
    font-family: 'Gilroy Light', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #3c1053;
  }
}
.section__heading {
  text-align: left;
  padding: 0 0 33px;
  h2 {
    font-size: 52px;
    white-space: nowrap;
    color: #ff595a;
    font-family: 'Gilroy', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 800;
    line-height: 1.2;
    span {
      color: #3c1053;
      font-family: 'Publico', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
      font-style: italic;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 699px) {
  .section {
    min-height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 0;
  }

  .section__bg {
    height: 100%;
    padding: 15px 20px;
    width: 100%;
  }

  .container {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin-top: auto;
    width: 100%;
    display: block;
    min-height: 0;
    padding-top: 78px;
  }
  .container__content {
    padding: 15px 20px;
    width: 100%;
    background: #5f259f;
  }
}

@media screen and (min-width: 701px) {
  .container {
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    min-height: 35vh;
  }
  .container__content h1 {
    opacity: 1;
    font-size: 30px !important;
  }

  .container__content h1 span {
    white-space: normal;
  }

  .container__content p {
    display: none;
    margin: 27px 0 0;
  }
  .section__content__container__context {
    margin: 0 -18px 33px;
  }
  .section__heading h2 {
    font-size: 33px;
  }
}

@media screen and (min-width: 769px) {
  .section__heading h2 {
    margin: 0 5px 0 0;
  }
  .section__heading h2 span {
    display: inline;
    margin: 0 10px;
  }
}



@media screen and (max-width: 1023px) {
  .section__bg {
    display: block;
  }
  .container__content {
    width: auto;
  }
  .section__content {
    margin: 45px 0 57px;
  }
  .section__content__container {
    padding: 0 18px;
  }
  .section__heading {
    padding: 0 0 27px;
  }
  .section__heading h2 span {
    margin: -3px 0 0;
  }
}
