.way_travel {
  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__row {
      margin-bottom: -30px;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .way_travel {
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
    &__container {
      max-width: 1200px;
    }
  }
}
