.way_travel {
  padding-top: 50px;
  padding-bottom: 50px;
  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__row {
      margin-bottom: -30px;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      &__left {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        h2 {
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 500;
          color: #151515;
          font-family: 'Oswald';
          text-transform: uppercase;
          span {
            visibility: visible;
          }
        }
        &__text1 {
          visibility: visible;
        }
        &__text2 {
          visibility: visible;
        }
        &__img {
          visibility: visible;
          margin-top: 25px;
          img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border-style: none;
            width: 113px;
            aspect-ratio: auto 113 / 66;
          }
        }
      }
      &__right {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        &__box {
          display: flex;
          visibility: visible;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: -30px;
          margin-left: -30px;
          &__left {
            transition: transform 0.5s ease;
            margin-top: 30px;
            margin-left: 30px;
          }
          &__right {
            margin-left: 30px;
            margin-top: 30px;
            transition: transform 0.5s ease;
          }
          img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            width: 364px;
            height: 459px;
            aspect-ratio: auto 364 / 459;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
}

.advantages {
  background-color: #ffffff;
  padding: 50px 0;
  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__row {
      margin-bottom: -30px;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      &__card {
        margin-bottom: 30px;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        h2 {
          font-size: 28px;
          line-height: 1.5;
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 500;
          color: #151515;
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          background-color: transparent;
          color: rgb(21, 21, 21);
        }
        P {
          margin-top: 15px;
        }
      }
    }
  }
}

.tours {
  padding: 50px 0;
  &__bg__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    &__row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      justify-content: center !important;
      margin-bottom: -30px;
      &__col {
        margin-bottom: 30px;
        display: flex !important;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        &:nth-child(1) {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:not(:nth-child(2)) {
          a {
            max-width: 370px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;
            &::before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              top: 60%;
              background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.71) 100%);
              z-index: 1;
              transition: all ease 0.25s;
            }
            img {
              display: inline-block;
              max-width: 100%;
              height: auto;
              width: 370px;
              aspect-ratio: auto 370 / 510;
            }
            .tours__bg__container__row__col__description {
              position: absolute;
              left: 30px;
              bottom: 30px;
              right: 30px;
              z-index: 2;
              font-family: 'Oswald', sans-serif;
              color: #ffffff;
              div {
                font-weight: 700;
                text-transform: none;
              }
              span:nth-child(1) {
                font-size: 14px;
                font-weight: 100;
                display: inline-block;
              }
              &__price {
                font-size: 18px;
                font-weight: 500;
                margin-left: 5px;
              }
            }
          }
        }
        &__row {
          margin-bottom: -30px;
          display: flex;
          flex-wrap: wrap;
          margin-right: -15px;
          margin-left: -15px;
          &__card {
            margin-bottom: 30px;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            a {
              max-width: 370px;
              margin-left: auto;
              margin-right: auto;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              overflow: hidden;
              color: #c4eeec;
              transition: all 0.3s ease-in-out;
              &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 60%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.71) 100%);
                z-index: 1;
                transition: all ease 0.25s;
              }
              img {
                display: inline-block;
                max-width: 100%;
                height: auto;
                width: 370px;
                aspect-ratio: auto 370 / 510;
              }
              .tours__bg__container__row__col__description {
                position: absolute;
                left: 30px;
                bottom: 30px;
                right: 30px;
                z-index: 2;
                font-family: 'Oswald', sans-serif;
                color: #ffffff;
                div {
                  font-weight: 700;
                  text-transform: none;
                }
                span:nth-child(1) {
                  font-size: 14px;
                  font-weight: 100;
                  display: inline-block;
                }
                &__price {
                  font-size: 18px;
                  font-weight: 500;
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .way_travel {
    &__container {
      max-width: 540px;
      &__row__right__box {
        flex-wrap: nowrap;
      }
    }
  }
  .advantages {
    &__container {
      max-width: 540px;
    }
  }
  .tours__bg__container {
    max-width: 540px;
    &__row__col {
      flex: 0 0 50%;
      max-width: 50%;
      &__row__card {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .way_travel {
    padding-top: 85px;
    padding-bottom: 85px;
    &__container {
      max-width: 720px;
      &__row__left {
        &__text1 {
          margin-top: 20px;
        }
        &__text2 {
          margin-top: 25px;
        }
      }
    }
  }
  .advantages {
    padding: 70px 0;
    &__container {
      max-width: 720px;
      P {
        margin-top: 20px;
      }
    }
  }
  .tours {
    padding: 85px 0;
    &__bg__container {
      max-width: 720px;
      &__row__col:nth-child(3) {
        order: 2;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .way_travel {
    padding-top: 100px;
    padding-bottom: 100px;
    background: none;
    &__container {
      max-width: 960px;
      &__row__left__text2 {
        margin-top: 25px;
      }
    }
  }
  .advantages {
    padding: 80px 0 90px;
    &__container {
      max-width: 960px;
      &__row__card {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
  }
  .tours {
    padding: 100px 0;
    &__bg__container {
      max-width: 960px;
      &__row__col {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        &__row__card {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .way_travel {
    background-size: cover !important;
    padding-top: 100px;
    padding-bottom: 70px;
    &__container {
      max-width: 1200px;
      &__row {
        &__left {
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
          h2 {
            font-size: 36px;
            line-height: 1.11111;
            span {
              display: block !important;
            }
          }
          &__text1 {
            margin-top: 50px;
          }
        }
        &__right {
          flex: 0 0 58.33333%;
          max-width: 58.33333%;
          &__box {
            justify-content: flex-start;
            margin-left: 0;
            padding-left: 40px;
            &__left {
              margin-left: 0;
            }
            &__right {
              position: absolute;
              right: 0;
              transform: translate(-100px, 50px);
              margin-left: 0;
            }
            &:hover {
              .way_travel__container__row__right__box__left {
                transform: translateY(50px);
              }
              .way_travel__container__row__right__box__right {
                transform: translate(-15px, 0);
                transition: transform 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
  .advantages {
    &__container {
      max-width: 1200px;
      h2 {
        font-size: 36px;
        line-height: 1.11111;
      }
      p {
        margin-top: 50px;
      }
    }
  }
  .tours {
    padding: 115px 0;
    background-size: cover !important;
    padding-bottom: 130px;
    padding-top: 90px;
    &__bg {
      position: relative;
      &::before {
        content: '';
        top: 47.5%;
        transform: translateY(-50%);
        background-color: #c4eeec;
        left: 0;
        height: calc(100% - 120px);
        right: 36%;
        position: absolute;
      }
      &__container {
        max-width: 1200px;
        &__row__col {
          &:nth-child(2) {
            order: 2;
          }
          a {
            &::before {
              opacity: 0 !important;
            }
            &:hover {
              &::before {
                opacity: 1 !important;
              }
              .tours__bg__container__row__col__description {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
          &__description {
            opacity: 0;
            transform: translateY(120%);
            transition: all ease 0.25s;
            div {
              font-size: 24px;
              line-height: 1.25;
            }
          }
          &__row__card {
            a {
              &::before {
                opacity: 0;
              }
              &__description {
                opacity: 0;
                transform: translateY(120%);
                transition: all ease 0.25s;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 2370px) {
  .advantages {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .way_travel {
    background: none !important;
  }
  .tours {
    background: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .tours__bg__container__row__col:nth-child(2) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
