.home__slider {
  width: 100%;
  height: 850px;
}
.home__slider .swiper {
  width: 100%;
  height: 100%;
}
.home__slider .swiper :active {
  cursor: grabbing;
}
.home__slider .swiper-slide {
  padding-top: 90px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  position: relative;
}
.home__slider .swiper-pagination {
  bottom: 20px;
}
.home__slider .swiper-slide div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 70%;
  width: 50%;
  height: 40%;
  object-fit: cover;
  color: #fff;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.home__slider .swiper-slide div h1 {
  font-size: 60px;
  text-align: left;
  opacity: 0;
  transition: 1s all;
  transform: translateY(20px);
}
.home__slider .swiper-slide div p {
  color: #ff595a;
  text-align: left;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  opacity: 0;
  transition: 1s all;
  transform: translateY(20px);
}
.home__slider .swiper-slide div p svg {
  width: 20px;
  fill: #ff595a;
}
.home__slider .swiper-slide-active div p,
.home__slider .swiper-slide-active div h1 {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 2s;
}
@media only screen and (max-width: 992px) {
  .home__slider {
    margin-top: 56px;
    height: 700px;
  }
}
@media only screen and (max-width: 768px) {
  .home__slider {
    height: 500px;
  }
  .home__slider .swiper-slide div h1 {
    font-size: 40px;
  }
  .home__slider .swiper-slide div p {
    font-size: 20px;
  }
  .home__slider .swiper-slide div p svg {
    height: 18px;
  }
}
@media only screen and (max-width: 542px) {
  .home__slider {
    height: 350px;
  }
  .home__slider .swiper-slide div h1 {
    font-size: 30px;
  }
  .home__slider .swiper-slide div p {
    font-size: 15px;
  }
  .home__slider .swiper-slide div p svg {
    height: 15px;
  }
  .home__slider .swiper-slide div {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .home__slider .swiper-pagination {
    bottom: 30px;
  }
}
